<!-- <table> -->
    <!-- <tr> -->
        <!-- <td><a href="{{site.baseurl}}/index">Home</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/heuristicAlgo">heuristic</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/main2_updated_again">Game</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/leaderboard">Leaderboard</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/plan">Plan</a></td> -->
    <!-- </tr> -->
<!-- </table> -->
<div class="navbar">
    <img src="GeotourismLogo.png" class="Logo">
    <ul>
        <li><a href="https://a1234l.github.io/Final-CSP-Project/index">Home</a></li>
        <li><a href="https://a1234l.github.io/Final-CSP-Project/🍪">Test</a></li>
        <li><a href="https://a1234l.github.io/Final-CSP-Project/morecopymain">Game</a></li>
        <li><a href="https://a1234l.github.io/Final-CSP-Project/leaderboard ">User History</a></li>
        <li><a href="https://a1234l.github.io/Final-CSP-Project/about">About Us</a></li>
    </ul>
</div>