---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
//   // The navigation bar //
// .navbar {
//     overflow: hidden;
//     background-color: #333333;
//     position: fixed; /* Set the navbar to fixed position */
//     top: 0; /* Position the navbar at the top of the page */
//     width: 100%; /* Full width */
//   }
  
//   /* Links inside the navbar */
//   .navbar a {
//     float: left;
//     display: block;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
  
//   /* Change background on mouse-over */
//   .navbar a:hover {
//     background: #009494;
//     color: black;
//   }